/* li:hover {
    background-color: #e7e5e5;
} */
body, h1, h2, h3, h4, p, ul {
    margin: 0;
    font-family: 'Source Serif 4', serif;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 20% 20% 0 0;
}
.grade {
    font-size: medium;
}

/* Header */
.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .title  {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
  }
  
  .position {
    font-size: 1.4em;
    margin: 5px 0;
  }
  
  .date,
  .location {
    font-size: 1.3em;
    color: #666;
    margin: 0;
  }
  
  .date::before,
  .location::before {
    content: "-";
    margin: 0 5px;
  }
  
  .descriptions {
    font-size: 1.5em;
    margin-top: 10px;
  }
  

h1 {
    font-size: medium;
}
li {
    font-size: small;
}
a {
    font-size: medium;
}
/* Basic styling */

/* Navigation */

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

nav .nav-toggle {
    display: none; /* Hide the toggle button by default */
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
a {
    color: red;
}

/* Responsive */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 4.5rem; /* Adjust the top spacing as needed */
        left: 0;
        width: 100%;
        background-color: #333;
        display: none; /* Hide the menu items initially */
        padding: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    nav ul.active {
        display: flex; /* Show the menu items when active */
    }

    nav .nav-toggle {
        display: block; /* Show the toggle button for smaller screens */
    }

    nav li {
        margin-bottom: 10px;
    }
}

header {
    text-align: center;
    /* padding: 2rem 0; */
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    margin: auto;
    /* position: sticky; */
}
header a {
    margin: 1%;
    padding: auto;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Sections */
section {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    border-radius: 1%;
}

/* Footer */


/* Responsive */
@media screen and (max-width: 600px) {
    nav ul {
        padding: 0;
    }
    nav ul li {
        margin-bottom: 10px;
    }
}

/* Your existing styles */

/* Navigation */
/* Navigation */
/* Reset some default styles */
