@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sacramento";
  src: url("../public/fonts/Sacramento-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Regular.ttf") format("truetype");
}